<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Decrease amount of logs from Jetty started by WireMock -->
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="org.eclipse.jetty.server.handler.ContextHandler" level="warn"/>
</configuration>
